<!DOCTYPE html>
<html>
<head>
    <title>EADD Ngombe Planner Dashboard</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bower/slick-carousel/slick/slick.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bower/slick-carousel/slick/slick-theme.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}" />

    <script type='text/javascript' src="{{ url_for('static', filename='bower/jquery/dist/jquery.min.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='bower/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bower/slick-carousel/slick/slick.min.js') }}"></script>
</head>
<body>
    <div class="navbar">
        {% if current_user.is_authenticated %}
        {% include "navbar.html" %}
        {% else %}
        {% endif %}
    </div>
    <div class="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
            {% for message in messages %}
                <ul>{{ message }}</ul>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
