<div id='farmer_details'></div>
<div id='edit_panel'>
	<div id='edit_farmer' class="hidden">
		<form class='form-inline' id="farmer_editing">
			<fieldset id="farmer">
				<div class="left_panel">
					<div class="form-group">
						<label class="col-md-6 control-label" for="project">Country&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="col-md-6">
							<input type="text" name="project" id="project" placeholder="Country" class='form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="farmer_name">Farmer Name&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="col-md-6">
							<input type="text" name="farmer_name" id="farmer_name" placeholder="Farmer Name" class='input-medium form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="hub">Hub&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="col-md-6">
							<input type="text" name="hub" id="hub" placeholder="Hub Name" class='input-medium form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="mobile_no">Mobile No&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="col-md-6">
							<input type="text" name="mobile_no" id="mobile_no" placeholder="Mobile No" class='input-medium form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="mobile_no1">Alternative No</label>
						<div class="col-md-6">
							<input type="text" name="mobile_no1" id="farmer_name" placeholder="Secondary No" class='input-medium form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="cf">Community Facilitator&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="col-md-6">
							<input type="text" name="cf" id="cf" placeholder="Community Facilitator" class='input-medium form-control' />
						</div>
					</div>
				</div>
				<div class="right_panel">
					<div class="form-group">
						<label class="col-md-6 control-label" for="locale">Language&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="col-md-6">
							<input type="text" name="locale" id="locale" placeholder="Language" class='input-medium form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="gps_lat">HH Latitude&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="col-md-6">
							<input type="text" name="gps_lat" id="gps_lat" placeholder="HH Latitude" class='input-medium form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="gps_lon">HH Longitude&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="col-md-6">
							<input type="text" name="gps_lon" id="gps_lon" placeholder="HH Longitude" class='input-medium form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="hub">Hub&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="col-md-6">
							<input type="text" name="hub" id="hub" placeholder="Hub Name" class='input-medium form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label radio-inline" for="is_active">Is Active&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="col-md-6">
							<label class="radio-inline"><input type="radio" name="is_active" id="yes" class='form-control' value="yes"> Yes</label>
							<label class="radio-inline"><input type="radio" name="is_active" id="no" class='form-control' value="no"> No</label>
						</div>
					</div>
				</div>
            <div class="buttons">
               <button type="button" class="btn btn-success">Save</button>
               <button type="button" class="btn btn-danger">Cancel</button>
            </div>
			</fieldset>
		</form>
	</div>
	<div id='edit_cow' class="hidden">
		<form class='form-inline' id="cow_editing">
			<fieldset id="cow">
				<div class="left_panel">
					<div class="form-group">
						<label class="col-md-6 control-label" for="cow_name">Cow Name&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="col-md-6">
							<input type="text" name="cow_name" id="cow_name" placeholder="Name" class='input-medium form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="ear_tag">Ear Tag</label>
						<div class="col-md-6">
							<input type="text" name="ear_tag" id="ear_tag" placeholder="Ear Tag" class='input-medium form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="dob">Date of Birth&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="col-md-6">
							<input type="text" name="dob" id="dob" placeholder="DoB" class='input-medium form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="sex">Sex&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="">
							<label class="radio-inline"><input type="radio" name="sex" id="male" class='form-control' value="male"> Male</label>
							<label class="radio-inline"><input type="radio" name="sex" id="female" class='form-control' value="female"> Female</label>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="breed">Breed Group&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="breeds">
						</div>
					</div>
				</div>
				<div class="right_panel">
					<div class="form-group">
						<label class="col-md-6 control-label" for="milking_status">Milking Status&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="col-md-6">
							<input type="text" name='milking_status' id="milking_status" placeholder="Milking Status" class='input-medium form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="is_incalf">Is Incalf&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="">
							<label class="radio-inline"><input type="radio" name="is_incalf" id="incalf_yes" class='form-control' value="yes"> Yes</label>
							<label class="radio-inline"><input type="radio" name="is_incalf" id="incalf_no" class='form-control' value="no"> No</label>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="sire">Parity&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="col-md-6">
							<input type="text" name='parity' id="sire" placeholder="Parity" class='input-medium form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="sire">Sire</label>
						<div class="col-md-6">
							<input type="text" name='sire' id="sire" placeholder="Sire" class='input-medium form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="dam">Dam</label>
						<div class="col-md-6">
							<input type="text" name='dam' id="dam" placeholder="Dam" class='input-medium form-control' />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-6 control-label" for="is_active">Is Active&nbsp;&nbsp;<img class='mandatory' src="{{ url_for('static', filename='images/mandatory.gif') }}" alt='Required' /></label>
						<div class="col-md-6">
							<label class="radio-inline"><input type="radio" name="is_active" id="yes" class='form-control' value="yes"> Yes</label>
							<label class="radio-inline"><input type="radio" name="is_active" id="no" class='form-control' value="no"> No</label>
						</div>
					</div>
				</div>
            <div class="buttons">
               <button type="button" class="btn btn-success">Save</button>
               <button type="button" class="btn btn-danger">Cancel</button>
            </div>
			</fieldset>
		</form>
	</div>
</div>